# üß† Python, NumPy & Pandas Practice Exercises
This notebook includes a variety of exercises to help you prepare for your exam. Topics include Python functions, NumPy, and Pandas data manipulation.

## Part 1: Python Basics & Functions

### 1. Subtract Sum of All from Last Number
**Task:** Write a function that accepts arbitrary integer numbers using `*args`, and returns the result of:<br>
**last number - sum of all previous numbers**

_Hint: Use parameters to pass values into functions._

### 2. Count vowels in a string
**Task:** Return the number of vowels in a string.
**Given:**

In [ ]:
text = "Kosova is best country"

### 3. Tuples, loops, string formating

Task: Print Student Details from Tuples
**Task:** A list of tuples is provided, where each tuple contains information about a student (`name`, `age`, and `grade`).
Write code that prints the details of each student in the following format:<br> Student: Alice, Age: 18, Grade: 90

In [ ]:
students = [("Alice", 18, 90), ("Bob", 20, 85), ("Clara", 19, 92)]

### 4. Filter long words
**Task:** Return only words longer than 5 characters.
**Given:**

In [ ]:
words = ["apple", "banana", "kiwi", "strawberry", "fig"]

### 5. Square numbers using map
**Given:**

In [ ]:
nums = [1, 3, 5, 7, 9]

### 6. Extract even numbers with filter
**Given:**

In [ ]:
numbers = [12, 15, 22, 31, 44, 57]

### 7. Extract values from nested dict
**Given:**

In [ ]:
# return 2nd points of student3 in history subject
data = {
    "student1": {"math": (80,90), "science": (85,90), "history": (100,90)},
    "student2": {"math": (90,85), "science": (85,65), "history": (78,88)},
    "student3": {"math": (70,65), "science": (80,90), "history": (68,78)}
}

### 8. Sort tuples by second value
**Given:**

In [ ]:
items = [("apple", 5), ("banana", 2), ("cherry", 10)]

### 9. Highest average scorer
**Given:**

In [ ]:
scores = {"Arta": [88, 90, 92], "Blendi": [75, 78, 74], "Drita": [85, 87, 90]}

### 10. Return day of date
**Given:**

In [ ]:
date_str = "15-04-2025"

# bonus: format to return "April, 15, year:2025"

## Part 2: NumPy Exercises

### 11. Create 5x5 random integers

In [ ]:
np.random.randint(10, 100, (5, 5))

#bonus
# 1. find avg per columns
# 2. find avg per rows

### 12. Replace evens with 0

In [ ]:
arr = np.array([10, 21, 32, 43, 54, 65])

### 13. Use `np.where()` for Temperature Labels
**Task:** You are given an array of 30 daily temperature readings (in ¬∞C).
Write a program that categorizes each temperature into:
- `"COLD"` if it's below 20¬∞C
- `"NORMAL"` if it's between 20¬∞C and 30¬∞C (inclusive)
- `"HOT"` if it's above 30¬∞C

You should use NumPy‚Äôs `np.where()` function to perform this efficiently without writing a loop.
**Given:**

In [ ]:
temps = np.array([12, 18, 22, 25, 31, 35, 28, 17, 21, 30,
                  33, 19, 15, 20, 27, 32, 16, 29, 31, 24,
                  23, 18, 26, 34, 30, 20, 19, 22, 36, 14])

#expected result
# ['COLD' 'COLD' 'NORMAL' ... 'HOT']

## Part 3: Pandas

üìÅ **Dataset:** `sales_data.csv` must be in the same directory.

In [ ]:
import pandas as pd
df = pd.read_csv("sales_data.csv")

### 14. Display first 5 rows of the dataset.

### 15. Add `TotalPrice` column = Quantity * PriceUSD

### 16. Add `TaxAmount` column = TotalPrice * TaxPercentage

### 17. Add `FinalAmount` column = TotalPrice + TaxAmount

### 18. Find the most frequently purchased product.

### 19. Group by Card and get average FinalAmount.

### 20. Find Job category with highest avg. spending.

### 21. Find all Laptop purchases over $500.

### 22. Count how many bought more than 2 items.

### 23. Count .edu email users per Job title.