# 🧠 Python, NumPy & Pandas Practice Exercises 1
This notebook includes a variety of exercises to help you prepare for your exam. Topics include Python functions, NumPy, and Pandas data manipulation.

## Part 1: Python Basics & Functions

### 1. Subtract Sum of All from Last Number
**Task:** Write a function that accepts arbitrary integer numbers using `*args`, and returns the result of:<br>
**last number - sum of all previous numbers**

In [4]:
from fontTools.misc.cython import returns


# calculate_smth(1,2,3,20)
# returns 10-6 = 4

def calculate_sum_sub(*numbers):
    return numbers[-1] - sum(numbers[0:-1])


calculate_sum_sub(1,2,3,20)

14

_Hint: Use parameters to pass values into functions._

### 2. Count vowels in a string
**Task:** Return the number of vowels in a string.
**Given:**

In [8]:
text = "Kosova is best country"

vowels = ['a','e','i','o','u']
counter = 0
for shkronje in text:
    if shkronje.lower() in vowels:
        counter+=1

print(counter)

7

### 3. Tuples, loops, string formating

Task: Print Student Details from Tuples
**Task:** A list of tuples is provided, where each tuple contains information about a student (`name`, `age`, and `grade`).
Write code that prints the details of each student in the following format:<br> Student: Alice, Age: 18, Grade: 90

In [10]:
students = [("Alice", 18, 90), ("Bob", 20, 85), ("Clara", 19, 92)]

for student in students:
    print(f'Student: {student[0]}, Age: {student[1]}, Grade: {student[2]}')

Student: Alice, Age: 18, Grade: 90
Student: Bob, Age: 20, Grade: 85
Student: Clara, Age: 19, Grade: 92

### 4. Filter long words
**Task:** Return only words longer than 5 characters.
**Given:**

In [13]:
words = ["chicken", "banana", "kiwi", "strawberry", "fig"]

for word in words:
    if len(word)>5:
        print(word)

chicken
banana
strawberry

In [15]:
list(filter( lambda word: len(word)>5 , words ))

['chicken', 'banana', 'strawberry']

### 5. Square numbers using map
**Given:**

In [16]:
nums = [1, 3, 5, 7, 9]

list(map(lambda num: pow(num,2) ,  nums))

[1, 9, 25, 49, 81]

### 6. Extract even numbers with filter
**Given:**

In [ ]:
numbers = [12, 15, 22, 31, 44, 57]

### 7. Extract values from nested dict
**Given:**

In [19]:
# return 2nd points of student3 in history subject
data = {
    "student1": {"math": (80,90), "science": (85,90), "history": (100,90)},
    "student2": {"math": (90,85), "science": (85,65), "history": (78,88)},
    "student3": {"math": (70,65), "science": (80,90), "history": (68,78)}
}


data['student3']['history'][1]

78

### 8. Sort tuples by second value
**Given:**

In [20]:
items = [("apple", 5), ("banana", 2), ("cherry", 10)]

sorted(items, key= lambda item : item[1])

[('banana', 2), ('apple', 5), ('cherry', 10)]

### 9. Highest average scorer
**Given:**

In [31]:
scores = {"Arta": [88, 90, 92], "Blendi": [75, 78, 74], "Drita": [85, 87, 90]}
lista = []
import numpy as np
for score in scores.items():
    print(f'{score[0]}:{np.mean(score[1])}')


#max(scores, key=lambda score: np.mean(scores[score]))

Arta:90.0
Blendi:75.66666666666667
Drita:87.33333333333333

'Arta'

### 10. Return day of date
**Given:**

In [38]:
date_str = "15-04-2025"

import datetime as d

date = d.datetime.strptime(date_str, '%d-%m-%Y')
print(date.day)
# bonus: format to return "April, 15, year:2025"

15

## Part 2: NumPy Exercises

### 11. Create 5x5 random integers

In [ ]:
np.random.randint(10, 100, (5, 5))

#bonus
# 1. find avg per columns
# 2. find avg per rows

### 12. Replace evens with 0

In [ ]:
arr = np.array([10, 21, 32, 43, 54, 65])

### 13. Use `np.where()` for Temperature Labels
**Task:** You are given an array of 30 daily temperature readings (in °C).
Write a program that categorizes each temperature into:
- `"COLD"` if it's below 20°C
- `"NORMAL"` if it's between 20°C and 30°C (inclusive)
- `"HOT"` if it's above 30°C

You should use NumPy’s `np.where()` function to perform this efficiently without writing a loop.
**Given:**

In [40]:
temps = np.array([12, 18, 22, 25, 31, 35, 28, 17, 21, 30,
                  33, 19, 15, 20, 27, 32, 16, 29, 31, 24,
                  23, 18, 26, 34, 30, 20, 19, 22, 36, 14])

np.where(temps>20, 'Normal','Cold')

#expected result
# ['COLD' 'COLD' 'NORMAL' ... 'HOT']

array(['Cold', 'Cold', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Cold', 'Normal', 'Normal', 'Normal', 'Cold', 'Cold', 'Cold',
       'Normal', 'Normal', 'Cold', 'Normal', 'Normal', 'Normal', 'Normal',
       'Cold', 'Normal', 'Normal', 'Normal', 'Cold', 'Cold', 'Normal',
       'Normal', 'Cold'], dtype='<U6')

## Part 3: Pandas

📁 **Dataset:** `sales_data.csv` must be in the same directory.

In [41]:
import pandas as pd
df = pd.read_csv("sales_data.csv")

### 14. Display first 5 rows of the dataset.

### 15. Add `TotalPrice` column = Quantity * PriceUSD

### 16. Add `TaxAmount` column = TotalPrice * TaxPercentage

### 17. Add `FinalAmount` column = TotalPrice + TaxAmount

### 18. Find the most frequently purchased product.

### 19. Group by Card and get average FinalAmount.

### 20. Find Job category with highest avg. spending.

### 21. Find all Laptop purchases over $500.

In [47]:
df[df['Product'] =='Laptop']['PriceUSD']>500

0     False
31    False
37    False
39    False
42    False
66    False
68    False
87    False
89    False
98    False
Name: PriceUSD, dtype: bool

### 22. Count how many bought more than 2 items.

### 23. Count .edu email users per Job title.