## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
# pow(2,4)
2 ** 4

16

In [5]:
# modulus
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

## Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

## Strings

In [8]:
'single quotes'

'single quotes'

In [9]:
"double quotes"

'double quotes'

In [10]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [72]:
text = 'THIS is RandOM TeXT'
print(text.split())  #splits text when 'space' occurs

['THIS', 'is', 'RandOM', 'TeXT']

In [73]:
email = 'gezim.ciriku@faculty.cacttus.eduaction'
# get domain, after @
print(email.split('@'))

domain = email.split('@')[-1]

print(f'Domain is: {domain}')

['gezim.ciriku', 'faculty.cacttus.eduaction']
Domain is: faculty.cacttus.eduaction

In [76]:
# convert all letters to lower, does not change text
print(text.lower())

# convert all letter to upper, does not change text
print(text.upper())

this is random text
THIS IS RANDOM TEXT

## Printing

In [11]:
x = 'hello'

In [12]:
x

'hello'

In [13]:
print(x)

hello

In [14]:
num = 12
name = 'Sam'

In [15]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [16]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [17]:
# we can use 'f' for formating
print(f'My number is {num}, and my name is: {name}')

My number is 12, and my name is: Sam

In [18]:
# we can change the order of placeholders using indexes
print('My number is {1}, and my name is: {0}'.format(name,num))

My number is 12, and my name is: Sam

## Lists
* A list in Python is a built-in data structure that allows you to store multiple items in a single variable. Lists are ordered, mutable (modifiable), and allow duplicate values.

- We can create a list in python using [] brackets

In [19]:
[1,2,3]

[1, 2, 3]

In [20]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [21]:
my_list = ['a','b','c']

### Accesing list elements
- By index

In [23]:
my_list

['a', 'b', 'c']

In [24]:
my_list[1]

'b'

In [25]:
my_list[-1]

'c'

### Slicing lists

In [26]:
# this take all elements
my_list[:]

['a', 'b', 'c']

In [28]:
# my_list[a:b]
# a - represents begining index of slice
# b - represents last index of slice (exclusive = last - 1)

my_list[0:2]

['a', 'b']

#### Modifying a list

In [29]:
my_list

['a', 'b', 'c']

In [30]:
my_list[1] = 99

In [31]:
print(my_list)

['a', 99, 'c']

### List methods
1. Adding elements
    - append()
    - insert()
    - extend()
2. Removing elements
    - remove()
    - pop()
    - clear()
3. Searching
    - index()
    - count()
4. Sorting and reversing
    - sort()
    - sorted()
    - reverse()
5.  Copying a list
    - Using slicing: new_list = old_list[:]
    - Using copy() method: new_list = old_list.copy()
    - Using list() constructor: new_list = list(old_list)

In [32]:
# 1. Adding elements
numbers = [1,2,3,4,5,6]

In [34]:
# append() - appends element at the end of the list
numbers.append(7)

In [35]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [36]:
# insert() - Adds an element at a specific index
numbers.insert(1, -2)

In [37]:
print(numbers)

[1, -2, 2, 3, 4, 5, 6, 7]

In [39]:
# extends() - merges two list

list_1 = [1,2,3]
list_2 = [4,5,6]

list_1.extend(list_2)
# its like appending multiple elements in the end of a list

None

In [42]:
print(list_1)

[1, 2, 3, 4, 5, 6]

In [43]:
# Removing elements
new_list = [1,2,'3','a','b']

In [44]:
new_list.remove(2)   # [1,'3','a','b']
new_list.pop()       # removes last element [1,'3','a']

'b'

In [45]:
print(new_list)

[1, '3', 'a']

In [ ]:
new_list.clear()  # clears the list, []

In [46]:
# Searchin in list
print(list_1)

[1, 2, 3, 4, 5, 6]

In [48]:
print(list_1.index(1))  # returns index 0, first occurence
print(list_1.count(1))  # counts how many '1' in list

0
1

In [51]:
# Sorting and reversing
unsorted_list = [1,2,-4,10, 5, 12, 8, 22, 17]

In [53]:
unsorted_list.sort() #modifies actual list, sorts ascending by default
print(unsorted_list)

[-4, 1, 2, 5, 8, 10, 12, 17, 22]

In [54]:
unsorted_list.sort(reverse=True) # descending order
print(unsorted_list)

[22, 17, 12, 10, 8, 5, 2, 1, -4]

In [55]:
# if we want to sort a list but not modify it, we can use sorted()
lista_a = [-10, 5, 7, 2, 5, 22, 18, -10]
sorted_list_a = sorted(lista_a)

In [56]:
print(f'Unchanged list: {lista_a}')
print(f'New list sorted: {sorted_list_a}')

Unchanged list: [-10, 5, 7, 2, 5, 22, 18, -10]
New list sorted: [-10, -10, 2, 5, 5, 7, 18, 22]

In [57]:
# reverse(), changes first element with last, second with last-1 ...
normal_list = [1,2,3,4,-4,-3,-2,-1]
print(normal_list)

[1, 2, 3, 4, -4, -3, -2, -1]

In [58]:
normal_list.reverse()
print(normal_list)

[-1, -2, -3, -4, 4, 3, 2, 1]

In [66]:
# copying lists
list_3 = [1,2,3]
lista_3_new =  list_3  #reference type, changes to 3_new will effect list_3

lista_3_new.append(4)

print(f'List_3: {list_3}')
print(f'List_3_new: {lista_3_new}')

List_3: [1, 2, 3, 4]
List_3_new: [1, 2, 3, 4]

In [67]:
# to create a copy of list, not a reference, we can use those three methods:

# 1. using slice [:]
original_list = [5,6,7]
copy_list = original_list[:]

copy_list.append(8)  #it will only add '8' tp copy_list

print(f'Original list: {original_list}')
print(f'Copy list: {copy_list}')

Original list: [5, 6, 7]
Copy list: [5, 6, 7, 8]

In [68]:
# two other ways
copy2 = original_list.copy()        #using copy(method)
copy3 = list(original_list)         # using list() constructor

### Nested List
   - A list can contain inside other lists

In [70]:
nested_list = [1,2,3,'a', ['b','c','hello']]

# to get element "hello" we use indexes
print(nested_list[-1])
print(nested_list[-1][-1])

['b', 'c', 'hello']
hello

In [77]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix[1][0]) #print 4

4

### Booleans

In [80]:
True

True

In [81]:
False

False

## if,elif, else Statements
   - Conditional statements allow us to execute different blocks of code based on certain conditions.

In [78]:
# basic if, elif, else statement

x = 5
y = 10
if x > y:
    print('x is greater than y!')
elif x == y:
    print('x is equal with y!')
else:
    print('y is grerater than x')

y is grerater than x

In [79]:
# Nested if statements (if inside if)
z = 10

if z > 5:
    print('z is greater than 5')
    if z % 2 ==0:
        print('also is even number')
    else:
        print("but it's odd number")
else:
    print('z is not greater than 5')

z is greater than 5
also is even number

## Using Logical Operators (and, or, not)

In [82]:
number = 15
if number > 10 and number%2==0:
    print(f'Number {number} is even and greater than 10')

In [86]:
# check if its integer and greater than 10

# num_1 = '1'
num_1 = 5

if type(num_1) is int and num_1 > 10:
    print(f'Number {num_1} is integer and greater than 10')
elif type(num_1) is int and num_1<10:
    print(f'Number {num_1} is integer, but smaller than 10')
else:
    print('Its not integer')

Number 5 is integer, but smaller than 10

### Ternary (Short-hand if-else)
   - value_if_true if condition else value_if_false

In [87]:
num_2 = 23

result = 'Positive' if num_2 >=0 else 'Negative'
print(result)

Positive

### Using if with Lists

In [89]:
list_of_numbers = [1,2,3,4,5,6]

#take input using input() method and check if its in list

input_num = int(input('Write a number: '))

# check if number 1 is in list
if input_num in list_of_numbers:
    print(f'{input_num} is in list')
else:
    print(f'{input_num} is not in list')

1 is in list

## for Loops
  - A for loop in Python is used to iterate over sequences like lists, tuples, dictionaries, sets, and strings.

###  Basic for Loop Syntax

In [90]:
seq = [1,2,3,4,5]

In [91]:
for item in seq:
    print(item)

1
2
3
4
5

In [92]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [93]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

### Looping Through a String

In [94]:
word = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

###  Using range() in a Loop
   - The range(start, stop, step) function generates numbers for iteration.
      -  start is included
      -  stop is excluded

In [96]:
# Loop from 0 to 4
for i in range(5):
    print(i)
# Output: 0 1 2 3 4

0
1
2
3
4

In [100]:
# Loop from 2 to 8 with step 2
for i in range(2, 10, 2):
    print(i)
# Output: 2 4 6 8

2
4
6
8

In [101]:
# nested for loops
for i in range(1, 4):
    for j in range(1, 4):
        print(f"({i}, {j})")

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

###  Using break and continue
   - break → Exits the loop completely
   - continue → Skips the current iteration and moves to the next one

In [102]:
# Using break
for num in range(1, 6):
    if num == 3:
        break
    print(num)

1
2

In [103]:
# Using continue
for num in range(1, 6):
    if num == 3:
        continue
    print(num)

1
2
4
5

### List Comprehension (Shorter for Loop)

In [114]:
# long way using for
e = [1,2,3,4]
out = []
for item in e:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [116]:
# short way using list comprehensions
[item**2 for item in e]

[1, 4, 9, 16]

In [104]:
# Creating a list of squares from another list
another_list = [1,2,3,4]
squares = [x**2 for x in another_list]
print(squares)

[1, 4, 9, 16]

In [105]:
# Create a list of squares only for even numbers
mixed_list = [1,2,3,4,5,6,7,8,9,10]

squared_of_even = [pow(num,2) for num in mixed_list if num % 2 == 0]
print(squared_of_even)

[4, 16, 36, 64, 100]

In [107]:
# Create a list using comprehension, square even numbers, power to 3 odd numbers
initial_list = [1,2,3,4,5]

power_list = [ pow(i,2) if num % 2==0 else pow(i,3) for i in initial_list ]

print(power_list)

[1, 8, 27, 64, 125]

In [108]:
# Using else with for Loop
for i in range(3):
    print(i)
else:
    print("Loop finished successfully")

0
1
2
Loop finished successfully

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

In [109]:
# at while loops we need flag(sentinel) to end while loop
numberss = [1,2,3,4,5,6,7,8,9,10]
count = 0

while count < len(numberss):
    if numberss[count] % 2 == 0:
        print('Numer cift: ' + str(numberss[count]))
    count+=1

Numer cift: 2
Numer cift: 4
Numer cift: 6
Numer cift: 8
Numer cift: 10

###  Using break in a while Loop

In [110]:
x = 1
while x <= 5:
    if x == 3:
        break  # Stop loop at 3
    print(x)
    x += 1

1
2

### Using continue in a while Loop

In [111]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue  # Skip 3
    print(x)

1
2
4
5

### Generating Random Numbers Until a Condition is Met

In [112]:
import random

number = 0
while number != 5:
    number = random.randint(1, 8)
    print("Generated:", number)
# Stops when 5 is generated

Generated: 4
Generated: 2
Generated: 3
Generated: 4
Generated: 6
Generated: 6
Generated: 3
Generated: 1
Generated: 8
Generated: 7
Generated: 5

### Reversing a List with while

In [113]:
numbersss = [10, 20, 30, 40, 50]
index = len(numbersss) - 1

while index >= 0:
    print(numbersss[index])
    index -= 1

50
40
30
20
10

### Tuples
   - A tuple is an ordered, immutable collection of elements. Unlike lists, tuples cannot be modified (no adding, removing, or changing elements after creation).

In [117]:
# Creating a tuple
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [118]:
# Tuple with different data types
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [119]:
# Tuple with a single element (MUST have a comma!)
single_element_tuple = ("hello",)  # Correct
not_a_tuple = ("hello")  # Wrong, this is just a string

### Accessing Tuple Elements
   - using index like in lists

In [120]:
print(fruits[0])  # First element
print(fruits[-1]) # Last element
print(fruits[1:]) # Slice from index 1

apple
cherry
('banana', 'cherry')

###  Iterating Through a Tuple

In [121]:
colors = ("red", "green", "blue")

# Using a for loop
for color in colors:
    print(color)

red
green
blue

In [122]:
#Tuple Immutability
# Tuples cannot be changed after creation.

numbers = (1, 2, 3)
numbers[0] = 10  #TypeError: 'tuple' object does not support item assignment

In [ ]:
# To modify a tuple, convert it to a list first
numbers = (1, 2, 3)
numbers_list = list(numbers)  # Convert tuple to list
numbers_list[0] = 10
numbers = tuple(numbers_list)  # Convert back to tuple
print(numbers)  # Output: (10, 2, 3)

### Tuple Packing & Unpacking
   - You can assign multiple values to a tuple and extract them into variables.

In [123]:
# Packing
person = ("Gezim", 27, "Lecturer")

# Unpacking
name, age, job = person
print(name)
print(age)
print(job)

Gezim
27
Lecturer

In [124]:
# Tupple methods
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))    #counts how many 2 in numbers
print(numbers.index(3))    # returns index of first found '3'

3
2

### Conclusion for tupples
 - Tuples are immutable and faster than lists.
- They are useful for fixed data like coordinates or database records.
- Unpacking makes working with tuples convenient.
 -  Can be used as dictionary keys (lists can't!).

## Dictionaries
 - A dictionary is an unordered, mutable collection of key-value pairs. It allows fast lookups and modifications.

In [126]:
# Creating a dictionary
student = {
    "name": "Agim",
    "age": 25,
    "course": "Computer Science"
}
print(student)

{'name': 'Agim', 'age': 25, 'course': 'Computer Science'}

In [127]:
# access
print(student["name"])
print(student.get("age"))
print(student.get("grade", "Not found"))

Agim
25
Not found

In [128]:
# update, add
student["age"] = 26  # Updating value
student["grade"] = "A"  # Adding new key-value pair
print(student)

{'name': 'Agim', 'age': 26, 'course': 'Computer Science', 'grade': 'A'}

In [129]:
# now will be found
print(student.get("grade", "Not found"))

A

In [131]:
# deleting element

del student["grade"]  # Removes 'grade' key
print(student)

age = student.pop("age")  # Removes 'age' and returns its value
print(age)  # Output: 26

#student.clear()  # Removes all items
#print(student)  # Output: {}

{'name': 'Agim', 'age': 26, 'course': 'Computer Science'}
26

In [132]:
# iterating throug dictionary

# Looping through keys
for key in student:
    print(key, student[key])

name Agim
course Computer Science

In [133]:
# Looping through values
for value in student.values():
    print(value)

Agim
Computer Science

In [134]:
# Looping through key-value pairs
for key, value in student.items():
    print(f"{key}: {value}")

name: Agim
course: Computer Science

In [140]:
# nested dictionaries

students = {
    "student1": {"name": "Agim", "age": 21},
    "student2": {"name": "Sokol", "age": 22}
}

# print the name of students
for student in students:
    print(students[student]['name'])

Agim
Sokol

In [150]:
# items() returns key-values
print(list(students.items()))

# values() return just values
print(list(students.values()))

# keys()
print(list(students.keys()))

[('student1', {'name': 'Agim', 'age': 21}), ('student2', {'name': 'Sokol', 'age': 22})]
[{'name': 'Agim', 'age': 21}, {'name': 'Sokol', 'age': 22}]
['student1', 'student2']

### Conclusion for dictionaries
- Dictionaries are great for key-value storage and fast lookups.
- Mutable, but keys must be unique.
- Best for structured data like JSON, database records, and settings.

## Functions in Python
A function is a block of reusable code that performs a specific task. Functions help reduce redundancy, make code modular, and improve readability.

In [151]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [153]:
#just prints function reference
my_func

In [154]:
# calls function
my_func()

default

In [155]:
my_func('new param')

new param

In [156]:
my_func(param1='new new param')

new new param

In [158]:
# functions with return values
def add(a, b):
    return a + b

result = add(5, 3)
print(result)  # Output: 8

8

In [159]:
#  Multiple Return Values
def get_person():
    return "Agim", 21, "Programer"

name, age, job = get_person()
print(name, age, job)

Agim 21 Programer

In [160]:
# Keyword Arguments (kwargs)

def describe_person(name, age, job):
    print(f"Name: {name}, Age: {age}, Job: {job}")

describe_person(age=25, job="Programmer", name="Agim")

Name: Agim, Age: 25, Job: Programmer

In [161]:
#  Arbitrary Arguments (*args, **kwargs)

# *args (Multiple positional arguments)
def add_numbers(*args):
    return sum(args)

print(add_numbers(1, 2, 3, 4))

10

In [164]:
# use arbitrary arguments to define function that finds average

def find_average(*numbers):
    sum = 0
    for num in numbers:
        sum+=num
    return sum/len(numbers)

print(f'Average of (1,2,3,4) is:  {find_average(1,2,3,4)}')

Average of (1,2,3,4) is:  2.5

In [162]:
# **kwargs (Multiple keyword arguments)
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_details(name="Agim", age=21, country="Kosova")

name: Agim
age: 21
country: Kosova

In [170]:
# static and arbitrary params
def add_numbers(text,*numbers):
    sum = 0
    for num in numbers:
        sum+=int(num)
    print(f'Sum of {len(numbers)} numbers is {sum} + {text}')

add_numbers('randomtext',1,2,3,4)

Sum of 4 numbers is 10 + randomtext

### Lambda (Anonymous) Functions

In [167]:
#Normal function to find square of number
def find_square(number):
    return number**2

# Lambda function
square = lambda x: x ** 2
print(square(5))

25

In [168]:
# Lambda function with multiple arguments
multiply = lambda x, y: x * y
print(multiply(3, 4))

12

In [175]:
# example1 : update None with zero, and convert string to int, using lambda

values = [1, '2', None, '3', 4, '5']

result = list(map( lambda i: 0  if i is None else int(i)  , values))

print(result)

[1, 2, 0, 3, 4, 5]

In [176]:
# example 2: get list of text with lower case

text = ['Abc', 'TEST', 'hEllO']
list(map( lambda i: i.lower() , text ))

['abc', 'test', 'hello']

In [177]:
# example 3: get a new dictionary with products and prices with 20% discount

products = {'laptop':1200, 'mouse':100, 'keyboad':70}

dict(map( lambda item: ( item[0], item[1] * 0.8)  , products.items()))

{'laptop': 960.0, 'mouse': 80.0, 'keyboad': 56.0}

## map() Function
 - The map() function applies a given function to all items in an iterable (list, tuple, etc.) and returns a new iterable (map object). It helps in functional programming by eliminating the need for for loops.
  - map(function, iterable)
  - function: The function to apply to each element.
  - iterable: The sequence (list, tuple, etc.) to apply the function to.

In [171]:
# Using map() with a Function

def square(num):
    return num ** 2

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

In [172]:
# Using map() with lambda

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

In [173]:
# Example: Mapping Multiple Iterables
a = [1, 2, 3]
b = [4, 5, 6]

sum_values = list(map(lambda x, y: x + y, a, b))
print(sum_values)

[5, 7, 9]

In [174]:
# Example: Converting Strings to Integers
str_numbers = ["1", "2", "3", "4"]
int_numbers = list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4]

Conclusion
- map() is useful for transforming data without using loops.
- Works with functions, lambda, and built-in methods.
- Can be replaced with list comprehensions for better readability.

### filter() Function
- The filter() function is used to filter elements from an iterable based on a condition. It returns a filtered iterator containing only the elements that satisfy the condition.
- filter(function, iterable)
- function: A function that returns True or False (acts as a filter condition).
- iterable: The sequence (list, tuple, etc.) to be filtered.
- Only elements where the function returns True are included in the output.

In [178]:
# example 1: filter words with length more than 6 which start with 'm'

text = ['python', 'data analysis', 'machine learning','MMMMMMMM', 'test']

list(filter( lambda word: len(word)>6 and word[0].lower() =='m'  , text))

['machine learning', 'MMMMMMMM']

In [179]:
# exanple 2: filter even numbers defining function isEven

def isEven(number):
    return number % 2 == 0

unfilterd_list = [1,2,3,4,5,11,12,13,14]

list(filter( isEven , unfilterd_list ))

[2, 4, 12, 14]

In [180]:
# example 3: filter just int values

uncleaned_data = [1, '2' , 3, None,'test', 5, 6]

cleaned = list(filter( lambda i : type(i) is int  , uncleaned_data ))

print(cleaned)

[1, 3, 5, 6]

In [182]:
# example 4: filter active employees

data = ({'name': 'Gezim', 'active': False}, {'name': 'Test', 'active': True})

active_emp = list(filter( lambda item : item['active']==True  , data))

print(active_emp)

[{'name': 'Test', 'active': True}]

In [183]:
# example 5: filter words starting with "s"
words = ['soup','dog','salad','cat','great']
list(filter(lambda word: word.startswith('s') , words ))

['soup', 'salad']

# Great Job!