# üêº Python, NumPy & Pandas - Exam 1
- Change the name of file to your name
- Every cell should have you name, surname initials.
- Exam Duration: 2h
- Exam Points: 20

**1:** Write a function that accepts arbitrary integer numbers using *args, and returns the result of:
<br>(sum of all numbers except the last one) multiplied by the last number, divided by the number of parameters
<br>Example: calculate_value(2, 4, 5)
<br>returns ((2 + 4) * 5) / 3 = (6 * 5) / 3 = 30 / 3 = 10

In [ ]:
# GC

**2:** Write a function find_duplicate_words(text) that takes a string and checks if any word appears more than once.
<br>The function should return a list of duplicate words
<br> Test with this: find_duplicates('This is a simple test to test your knowledge')
<br> should return 'test'
<br> hint, create empty array, fill if duplicates found, split, iterate, slice

**3:** Using indexes, show the word 'rainy' from below data structure:

In [ ]:
data = {
    'outer_list': [
        {'inner_dict':
         {'key1': [1, 2, 3, ('apple', 'banana',
                             {'nested_key': ['rain', 'shine', {'final_key': 'sunshine'}]})]}},
        {'inner_tuple':
         ('cat', 'dog', {'another_key': {'inside_tuple': ['moon', 'stars', 'clouds']}})}
    ],
    'middle_dict': {
        'keyA': {'nested_list': [[4, 5, 6], {'keyB': ('ocean', 'beach', {'inner_list': ['wind', 'storm', 'rainy', {'last_key': 'sunny'}]})}]}
    }
}

**4:** You are given a list of names. Use `filter()` to select names longer than 4 characters ending whith 'a',
then use `map()` to transform the filtered names into uppercase using a `lambda` function.

In [ ]:
names = ["Ana", "John", "Elizabeth", "Bob", "Catherine", "Aurora"]

**5:** You are given a list of date strings in the format `"DD/MM/YYYY"`.
Write a function that parses these strings into `datetime` objects, then returns a new list where each date is formatted as `"Month_Name DD, YYYY"` (e.g., "April 12, 2025").

In [ ]:
import datetime as d
dates_str = ['10/02/2025', '27/03/2025', '12/04/2025']

In [ ]:
dates_obj = []
# fill

In [ ]:
#print each date in requested format

**6:** You are given a 3x4 NumPy array that contains some `np.nan` values.
- Replace each `np.nan` with the **mean of its row**
- Use **boolean masking** to select and print all values greater than 5.
- Find maximum value for each column

In [ ]:
import numpy as np
arr = np.array([
    [1.0, 2.0, np.nan, 4.0],
    [5.0, np.nan, 7.0, 8.0],
    [9.0, 10.0, 11.0, np.nan]
])

### You are given a hr_data, start by importing csv, and answer following questions

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('hr_data.csv')
df.head()

**7:** Filter and show all employees from the Finance department older than 30 years, and sort by age, descending

**8:**
- Find how many values are missing in bonus column
- Replace with zero missing values in bonus column
- After replacing bonus values, drop all rows that conatins null values

**9:** Apply a function to categorize employee based on YearsAtCompany
<br>'Junior' (<2), 'Mid' (3-5), 'Senior' (>5).
<br> In which category falls most of the employees

**10:** Using apply function
- extract just number part from EmpID, example: EMP1001, extract 1001
- save to a newcolumn named 'EmployeeId'
- make that column index column

**11:**
- Find average Salary by PerformanceScore
- Find average Salary by YearsAtCompany
- Is there any correlation between them

**12:** Find employees who: (Identify Potential Promotions)
- Have a `PerformanceScore` of `"Excellent"`
- Have `YearsAtCompany` > 5
- Earn less than the **average salary of their department**

Return a filtered DataFrame with columns: `EmpID`, `Name`, `Department`, `Salary`, `YearsAtCompany`, `PerformanceScore`.

In [ ]:
# approach using transform('mean') instead of mean()

**13:** Create a new column `ScoreValue` that encodes `PerformanceScore` using the following logic:
- "Excellent" ‚Üí 4
- "Good" ‚Üí 3
- "Average" ‚Üí 2
- "Poor" ‚Üí 1

Use a **custom function with `apply()`** (not `.map()`), and then compute the **average `ScoreValue` per Department**.